<!DOCTYPE html>

<html lang="en">


        <link rel='stylesheet' type='text/css'
        href='http://tkfile.yes24.com/New/Css/main_2.css?v=20201228' />


  
                <!-- 고침 -->
            <div class="focuson">
                <div class="focuson-wrap">
                    <div class='focus-txt'>
                        <p class='focus-tit'>
                            <span href='#'><img
                                src='http://tkfile.yes24.com/imgNew/main/tit8.png'
                                alt='' /></span>
                        </p>
                        <p class='focus-tit2'>
                            <a
                                href='http://ticket.yes24.com/New/Genre/GenreBridge.aspx?genre=15457&id=1094&Gcode=009_212'>베스트 셀러<br>어린완자
                            </a>
                        </p>
                        <p class='focus-detail'>
                            <a
                                href='http://ticket.yes24.com/New/Genre/GenreBridge.aspx?genre=15457&id=1094&Gcode=009_212'>
                                내용 바꾸기 
                                <br>아님 파워블로그!
                            </a>
                        </p>
                    </div>
                    <div class='focus-con'>
                        <div id='playerFocusOn' class='focus-con-movie'></div>
                        <div class='focus-con-img'>
                            <a href='#' title='dpqmDM_Df4s'>
                            <img src='' 
                                alt='' class='lazyload' /></a>
                        </div>
                    </div>
                </div>
            </div>
    
    
</html>