<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{ layout/basic-layout.html }">
    
    
    <div layout:fragment="content">
        

   
    <div class="cp-top-wrap"></div>


    <!-- 지혜 / 슬라이드로 이미지 사진 보여지는 곳 -->

    <div class='m2-kv-hidden'>
        <div class='m2-kv-wrap'>
            <div class='m2-kv'>
                <div class='swiper-container m2-kvs'>
                    <div class='swiper-wrapper'>
                        <div class='swiper-slide'>
                            <a href='/Perf/43815?Gcode=009_400'
                                target='_self' title='뮤지컬 [드라큘라]'><img
                                src='http://tkfile.yes24.com/Upload2/Display/202210/20221021/gmain_top_43815.jpg/dims/quality/70/'
                                alt='뮤지컬 <드라큘라>' />
                            <div class='m2-kvs-txt'>
                                    <p class='m2-kvs-tit'>
                                        뮤지컬
                                        <드라큘라>
                                    </p>
                                    <p class='m2-kvs-detail'>2022.11.15
                                        ~ 2023.01.15 올림픽공원 내 우리금융아트홀</p>
                                </div></a>
                        </div>
                        <div class='swiper-slide'>
                            <a href='/Perf/43451?Gcode=009_400'
                                target='_self'
                                title='뮤지컬 〈지저스 크라이스트 수퍼스타〉 50주년 기념 '><img
                                src='http://tkfile.yes24.com/Upload2/Display/202209/20220919/gmain_top_43451.jpg/dims/quality/70/'
                                alt='뮤지컬 <지저스 크라이스트 수퍼스타>' />
                            <div class='m2-kvs-txt'>
                                    <p class='m2-kvs-tit'>
                                        뮤지컬
                                        <지저스 크라이스트 수퍼스타>
                                    </p>
                                    <p class='m2-kvs-detail'>2022.11.10
                                        ~ 2023.01.15 광림아트센터 BBCH홀</p>
                                </div></a>
                        </div>
                        <div class='swiper-slide'>
                            <a href='/Perf/44155?Gcode=009_400'
                                target='_self' title='뮤지컬 〈베토벤〉'><img
                                src='http://tkfile.yes24.com/Upload2/Display/202211/20221116/gmain_top_44155.jpg/dims/quality/70/'
                                alt='뮤지컬 <베토벤>' />
                            <div class='m2-kvs-txt'>
                                    <p class='m2-kvs-tit'>
                                        뮤지컬
                                        <베토벤>
                                    </p>
                                    <p class='m2-kvs-detail'>2023.01.12
                                        ~ 2023.03.26 예술의전당 오페라극장</p>
                                </div></a>
                        </div>
                        <div class='swiper-slide'>
                            <a href='/Perf/43293?Gcode=009_400'
                                target='_self'
                                title='2022 푸에르자부르타 웨이라 인 서울 [2022 FUEZA BRU'><img
                                src='http://tkfile.yes24.com/Upload2/Display/202208/20220830/gmain_top_43293.jpg/dims/quality/70/'
                                alt='2022 푸에르자부르타 웨이라' />
                            <div class='m2-kvs-txt'>
                                    <p class='m2-kvs-tit'>2022
                                        푸에르자부르타 웨이라</p>
                                    <p class='m2-kvs-detail'>2022.09.29
                                        ~ 2022.12.26 잠실종합운동장 FB씨어터</p>
                                </div></a>
                        </div>
                        <div class='swiper-slide'>
                            <a href='/Perf/43616?Gcode=009_400'
                                target='_self' title='뮤지컬 〈브로드웨이 42번가〉'><img
                                src='http://tkfile.yes24.com/Upload2/Display/202210/20221007/gmain_top_43616.jpg/dims/quality/70/'
                                alt='뮤지컬 <브로드웨이 42번가>' />
                            <div class='m2-kvs-txt'>
                                    <p class='m2-kvs-tit'>
                                        뮤지컬
                                        <브로드웨이 42번가>
                                    </p>
                                    <p class='m2-kvs-detail'>2022.11.05
                                        ~ 2023.01.15 예술의전당 CJ 토월극장</p>
                                </div></a>
                        </div>
                        <div class='swiper-slide'>
                            <a
                                href='/New/Genre/GenreBridge.aspx?genre=15457&id=1094&Gcode=009_400'
                                target='_self'
                                title='뮤지컬 ＜캣츠＞오리지널 내한－서울（Musical CATS）'><img
                                src='http://tkfile.yes24.com/Upload2/Display/202211/20221110/gmain_top_43998.jpg/dims/quality/70/'
                                alt='뮤지컬 <캣츠> 오리지널 내한' />
                            <div class='m2-kvs-txt'>
                                    <p class='m2-kvs-tit'>
                                        뮤지컬
                                        <캣츠> 오리지널 내한
                                    </p>
                                    <p class='m2-kvs-detail'>2022.12
                                        ~ 2023.03 전국투어</p>
                                </div></a>
                        </div>
                        <div class='swiper-slide'>
                            <a
                                href='/New/Genre/GenreBridge.aspx?genre=15457&id=1075&Gcode=009_400'
                                target='_self' title='뮤지컬 [모딜리아니]'><img
                                src='http://tkfile.yes24.com/Upload2/Display/202208/20220819/gmain_top_43127.jpg/dims/quality/70/'
                                alt='뮤지컬 <모딜리아니>, <에곤 실레>' />
                            <div class='m2-kvs-txt'>
                                    <p class='m2-kvs-tit'>
                                        뮤지컬
                                        <모딜리아니>, <에곤 실레>
                                    </p>
                                    <p class='m2-kvs-detail'>2022.09.14
                                        ~ 2022.12.04 예스24스테이지 2관</p>
                                </div></a>
                        </div>
                        <div class='swiper-slide'>
                            <a href='/Perf/42947?Gcode=009_400'
                                target='_self' title='태양의서커스 〈뉴 알레그리아〉'><img
                                src='http://tkfile.yes24.com/Upload2/Display/202207/20220720/gmain_top_42947.jpg/dims/quality/70/'
                                alt='태양의서커스〈뉴 알레그리아〉' />
                            <div class='m2-kvs-txt'>
                                    <p class='m2-kvs-tit'>태양의서커스〈뉴
                                        알레그리아〉</p>
                                    <p class='m2-kvs-detail'>2022.10.20
                                        ~ 2023.01.01 잠실종합운동장 내 빅탑</p>
                                </div></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='swiper-button-next m2-kvs'></div>
        <div class='swiper-button-prev m2-kvs'></div>
    </div>




    <!-- 지혜 / 여기는 랭킹 보여주는 블럭 -->

    <section class="m2-sec05">
        <div class="ms5-wrap">
            <div class="ms5-l">
                <p class="ms5-l-tit">
                    WEEKLY RANKING <a href='/Rank/Musical'><img
                        src='http://tkfile.yes24.com/imgNew/genre/ms5-more.png'
                        alt='' /></a>
                </p>
                <ul>
                    <li class='on'><a
                        href='/Pages/Perf/Detail/Detail.aspx?IdPerf=44090&Gcode=009_306'
                        title='뮤지컬 〈루드윅 : 베토벤 더 피아노〉'><dl>
                                <dt>
                                    1위<span class='dash'>-</span>
                                </dt>
                                <dd>
                                    <img
                                        src='http://tkfile.yes24.com/upload2/perfblog/202211/20221114/20221114-44090.jpg/dims/quality/70/'
                                        alt='' />
                                </dd>
                                <dd class='ms5-l-txt'>
                                    <p class='ms5-l-txt1'>뮤지컬 〈루드윅 :
                                        베토벤 더 피아노〉</p>
                                    <p class='ms5-l-txt2'>
                                        2022.12.20 ~ 2023.03.12</br>예스24스테이지
                                        1관
                                    </p>
                                </dd>
                            </dl></a></li>
                    <li><a
                        href='/Pages/Perf/Detail/Detail.aspx?IdPerf=42947&Gcode=009_306'
                        title='태양의서커스 〈뉴 알레그리아〉'><dl>
                                <dt>
                                    2위<span class='dash'>-</span>
                                </dt>
                                <dd>
                                    <img
                                        src='http://tkfile.yes24.com/upload2/perfblog/202207/20220719/20220719-42947.jpg/dims/quality/70/'
                                        alt='' />
                                </dd>
                                <dd class='ms5-l-txt'>
                                    <p class='ms5-l-txt1'>태양의서커스 〈뉴
                                        알레그리아〉</p>
                                    <p class='ms5-l-txt2'>
                                        2022.10.20 ~ 2023.01.01</br>잠실종합운동장 내
                                        빅탑
                                    </p>
                                </dd>
                            </dl></a></li>
                    <li><a
                        href='/Pages/Perf/Detail/Detail.aspx?IdPerf=43451&Gcode=009_306'
                        title='뮤지컬 〈지저스 크라이스트 수퍼스타〉 50주년 기념 한국 공연'><dl>
                                <dt>
                                    3위<span class='dash'>-</span>
                                </dt>
                                <dd>
                                    <img
                                        src='http://tkfile.yes24.com/upload2/perfblog/202211/20221128/20221128-43451.jpg/dims/quality/70/'
                                        alt='' />
                                </dd>
                                <dd class='ms5-l-txt'>
                                    <p class='ms5-l-txt1'>뮤지컬 〈지저스
                                        크라이스트 수퍼스타〉 50주년 기념 한국 공연</p>
                                    <p class='ms5-l-txt2'>
                                        2022.11.10 ~ 2023.01.15</br>광림아트센터
                                        BBCH홀
                                    </p>
                                </dd>
                            </dl></a></li>
                    <li><a
                        href='/Pages/Perf/Detail/Detail.aspx?IdPerf=43127&Gcode=009_306'
                        title='뮤지컬 [모딜리아니]'><dl>
                                <dt>
                                    4위<span class='dash'>-</span>
                                </dt>
                                <dd>
                                    <img
                                        src='http://tkfile.yes24.com/upload2/perfblog/202211/20221128/20221128-43127.jpg/dims/quality/70/'
                                        alt='' />
                                </dd>
                                <dd class='ms5-l-txt'>
                                    <p class='ms5-l-txt1'>뮤지컬
                                        [모딜리아니]</p>
                                    <p class='ms5-l-txt2'>
                                        2022.09.14 ~ 2022.12.04</br>예스24스테이지
                                        2관
                                    </p>
                                </dd>
                            </dl></a></li>
                    <li><a
                        href='/Pages/Perf/Detail/Detail.aspx?IdPerf=43126&Gcode=009_306'
                        title='뮤지컬 [에곤 실레]'><dl>
                                <dt>
                                    5위<span class='up'>1</span>
                                </dt>
                                <dd>
                                    <img
                                        src='http://tkfile.yes24.com/upload2/perfblog/202211/20221128/20221128-43126.jpg/dims/quality/70/'
                                        alt='' />
                                </dd>
                                <dd class='ms5-l-txt'>
                                    <p class='ms5-l-txt1'>뮤지컬 [에곤
                                        실레]</p>
                                    <p class='ms5-l-txt2'>
                                        2022.09.14 ~ 2022.12.04</br>예스24스테이지
                                        2관
                                    </p>
                                </dd>
                            </dl></a></li>
                </ul>
            </div>



        
    </div>
     </div>
    
</html>