<!--  yes24 footer -->


<div class="row footer">
    <div class="row fixed-bottom" style="z-index: -100">
    <footer>
            <link rel='stylesheet' type='text/css' href='http://tkfile.yes24.com/New/Css/main_2.css?v=20201228' />
            <link rel='stylesheet' type='text/css' href='http://tkfile.yes24.com/New/Css/common.css?v=10' />
    
        <div class="cont row footer">
            <div class="footer-menu">
                <a href="http://company.yes24.com/" target="_blank">회사소개</a>
                <a href="http://www.yes24.com/notice/service.aspx" target="_blank">이용약관</a>
                <a href="http://www.yes24.com/notice/privacypolicy.aspx" target="_blank" class="fb">개인정보처리방침</a>
                <a href="http://www.yes24.com/notice/youthpolicy.aspx" target="_blank">청소년보호정책</a>
                <a href="http://ticket.yes24.com/Pages/UserGuide/BookingGuide.aspx" target="_blank">이용안내</a>
                <ul class="family">
                    <li><a href="#" class="family-btn">Family Site</a></li>
                    <li><a href="http://hansaedreams.co.kr/" target="_blank">한세드림</a></li>
                    <li><a href="http://hansaemk.com" target="_blank">한세MK</a></li>
                    <li><a href="https://www.curlysue.co.kr/curlysue_new/" target="_blank">컬리수</a></li>
                    <li><a href="https://www.yes24.vn/" target="_blank">YES24 Vietnam</a></li>
                    <li><a href="http://www.dongapublishing.com/main.donga" target="_blank">동아출판</a></li>
                </ul>
            </div>
            <div class="footer-txt">
                <a href="/New/Main.aspx?Gcode=009_201" class="flogo"><img src="images/booque.jpg" alt="" /></a>
                <div class="footxt">
                    <p>북끄북끄㈜</p>
                    <p class="gray">서울시 강남구 테헤란로 영삼빌딩 4층<br />대표 양하은 yes24help@yes24.com<br />사업자등록번호  229-81-37000  |  통신판매업신고  제 2005-02682호 
                        <a href="http://www.ftc.go.kr/www/bizCommList.do?key=232" target="_blank">사업자 정보확인</a>
                    <br>호스팅 서비스사업자 : 북끄북끄㈜</p>
                    <p>Copyright © YES24 Corp. All Rights Reserved.</p>
                </div>
                <div class="foo-right">
                    <p class="mark"><img src="http://tkfile.yes24.com/imgNew/common/fmark.png" alt="" /><a href="https://mall.sgic.co.kr/csh/iutf/sh/shop/CSHINFO004VM0.mvc?tm=3&q_sk=2&q_sv=2298137000" target="_blank">서비스가입사실확인</a></p>
                    <p class="fservice">고객님은 안전거래를 위한 현금 등으로 결제 시<br /> 
                    저희 쇼핑몰에서 가입한 구매안전서비스를 <br />
                    이용하실 수 있습니다.    
                    </p>
                </div>
            </div>
        </div>
    </footer>
</div>
</div>


        <div class="row footer">
            <div class="row fixed-bottom" style="z-index: -100">
                <footer class="py-1 my-1">
                    <h1 class="text-center text-muted">TODO: Footer</h1>
                    <p class="text-center text-muted">Footer</p>
                </footer>
            </div>
        </div>