<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{ layout/layout.html }">

    <div layout:fragment="content">
        <div class="card my-2">
            <div class="card-header">
                <h1>포스트 수정 페이지</h1>
            </div>
            <div class="card-body">
                <form id="formModify">
                    <div class="my-2">
                        <label for="id" class="form-label">포스트 번호</label>
                        <input id="id" class="form-control" 
                            name="id" th:value="${ post.id }" readonly />
                    </div>
                    <div class="my-2">
                        <label for="title" class="form-label">포스트 제목</label>
                        <input id="title" class="form-control" 
                            name="title" th:value="${ post.title }" autofocus />
                    </div>
                    <div class="my-2">
                        <label for="content" class="form-label">포스트 내용</label>
                        <textarea id="content" class="form-control" 
                            name="content" th:text="${ post.content }"></textarea>
                    </div>
                    <div class="my-2">
                        <label for="author" class="form-label">작성자</label>
                        <input id="author" class="form-control" th:value="${ post.author }" readonly />
                    </div>
                </form>
                <div class="my-2">
                    <button class="btn btn-danger" id="btnDelete">삭제</button>
                    <button class="btn btn-success" id="btnUpdate">수정 완료</button>
                </div>
            </div>
        </div>
    </div>
    
    <script layout:fragment="script">
    // form HTML 요소를 찾음.
    const formModify = document.querySelector('#formModify');
    
    // 삭제 버튼 찾아서 이벤트 리스너 등록.
    const btnDelete = document.querySelector('#btnDelete');
    btnDelete.addEventListener('click', function() {
    	const result = confirm('정말 삭제할까요?');
    	if (result) {
    		formModify.action = '/post/delete';
    		formModify.method = 'post';
    		formModify.submit();
    	}
    });
        
    // 수정 완료 버튼 찾아서 이벤트 리스너 등록.
    const btnUpdate = document.querySelector('#btnUpdate');
    btnUpdate.addEventListener('click', function () {
    	const title = document.querySelector('#title').value;
    	const content = document.querySelector('#content').value;
    	if (title == '' || content == '') {
    		alert('제목과 내용은 반드시 입력해야 합니다 !');
    		return;
    	}
    	
    	const result = confirm('수정 완료?');
    	if (result) {
    		formModify.action = '/post/update';
    		formModify.method = 'post';
    		formModify.submit();
    	}
    	
    });
    
    </script>

</html>